/* Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;
/* Tailwind */

/* Images Start */
.bg-1 {
  background-image: url("/src/assets/img/bg-1.jpg");
}
.bg-2 {
  background-image: url("/src/assets/img/bg-2.jpg");
}
.bg-3 {
  background-image: url("/src/assets/img/bg-3.jpg");
}
.bg-header {
  background-image: url("/src/assets/img/dutyafterschool.jpg");
}
/* Images End */
